* {
	font-family: 'pletcher', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'pletcher';
	src: url('../font/pletcher-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pletcher';
	src: url('../font/pletcher-medium.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html {
	height: 100vh;
	width: 100vw;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
}
button {
	outline: none !important;
}
